:root {
    --section-color: #2F303A;
    --workers-color: #757575;
    --button-color: #2196F3;
    --text-color: #212121;
}

button {
    background-color: var(--button-color);
}

.section {
    background-color: var(--section-color);
}

.workers h3 {
    color: var(--workers-color);
}

ul~p {
    color: var(--text-color);
}

nav {
    font-family: "Roboto";
    font-weight: 500;
}

a[href="/"] {
    font-family: "Raleway";
}

.section {
    font-family: "Roboto";
    font-weight: 900;
}

section h2 {
    font-family: "Roboto";
    font-weight: 700;
}

img+p {
    font-family: "Roboto";
    font-weight: 500;
}

address ul {
    font-family: "Roboto";
    font-weight: 400;
}

p+h3 {
    font-family: "Roboto";
    font-weight: 400;
}

li+h3 {
    font-family: "Roboto";
    font-weight: 700;
}

h3+p {
    font-family: "Roboto";
    font-weight: 400;
}