:root {
    --section-color: #2F303A;
    --workers-color: #757575;
    --button-color: #2196F3;
    --text-color: #212121;
    --hover-color: #2196F3;
}



.button {
    background-color: var(--button-color);
    width: 216px;
    height: 50px;
}

.hero {
    background-color: var(--section-color);
}

.workers h3 {
    color: var(--workers-color);
}

.list-p {
    color: var(--text-color);
}

.header-conteiner-nav {
    font-family: "Roboto";
    font-weight: 500;
}

a[href="/"] {
    font-family: "Raleway";
    font-weight: 700;
}

.section-h1 {
    font-family: "Roboto";
    font-weight: 900;
}

section h2 {
    font-family: "Roboto";
    font-weight: 700;
}

.workers-h2-item p {
    font-family: "Roboto";
    font-weight: 500;
}

.underworkers {
    font-family: "Roboto";
    font-weight: 400;
}



/* li+h3 { 
    font-family: "Roboto";
    font-weight: 700;
 }  */

.list-p {
    font-family: "Roboto";
    font-weight: 400;
}

.conteiner {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    color: white;
}

.header-mainlist-sites :hover {
    color: var(--hover-color);
}

a[href="/."] :hover {
    color: var(--hover-color);
}

.active-link {
    color: var(--hover-color);
}

.logo {
    color: var(--hover-color);
}

.logoblack {
    color: #212121;
}

.portfoli {
    color: var(--workers-color);
}

.nameofsite {
    font-family: "Roboto";
    font-weight: 700;
}

.portfoli {
    font-family: "Roboto";
    font-weight: 400
}

.header-conteiner a {
    font-family: "Roboto";
    font-weight: 700;
}

.button :active {
    color: #2196F3;
}

.all .item {
    font-family: "Roboto";
    font-weight: 500;
}

.footer {
    background-color: var(--section-color);
}

.location {
    color: #ffff;
}

.list-p {
    color: var(--workers-color);
}

.ourwork-atention {
    font-family: "Roboto";
    font-weight: 700;
}